{{ define "main" }}

<style>
input {
    border-color: #CCCCCC;
}
input:hover {
    background-color: rgba(0,74,93, 0.1);
    border-color: #004A5D;
}
input:focus {
    border-color: #005E77;
}
select {
    background-color: white;
    border-color: #CCCCCC;
}
select:hover {
    background-color: rgba(0,74,93, 0.1);
    border-color: #004A5D;
}
select:focus {
    border-color: #005E77;
}
textarea {
    border-color: #CCCCCC;
}
textarea:hover {
    background-color: rgba(0,74,93, 0.1);
    border-color: #004A5D;
}
textarea:focus {
    border-color: #005E77;
}
</style>

<div class="flex flex-wrap w-full py-32 bg-color-F0F0F0">
    <div class="w-auto max-w-5xl bg-white border border-color-e6e6e6 mx-auto p-6 hover:cursor-pointer rounded">
        <div class="w-full">
            <h3 class="font-copy text-xl leading-tight pb-3 md:pb-0">{{ .Params.top_section.title }}</h3>
            <h5 class="font-copy text-base pb-6">{{ .Params.top_section.text }}</h5>
        </div>
        <form class="flex flex-wrap w-full font-copy" action="https://www.georgiatechnologies.com/pay-invoice/">
            <div class="flex flex-wrap w-full">
                <label class="w-full pb-1">Invoice or Quote Number(s)*</label>
                <input id="invoNum" class="w-full mb-5 py-2 px-3 border-2 rounded-lg" type="number" name="invoNum" value="" min="1000" max="999999" placeholder="e.g. 1234, 789043" required>
            </div>
            <div class="flex flex-wrap w-full">
                <label class="w-full pb-1">Payment Amount*</label>
                <input id="invoAmo" class="w-full mb-5 py-2 px-3 border-2 rounded-lg" type="text" name="invoAmo" value="" placeholder="Do not include the $, e.g. 2489.99" required>
            </div>
            <div class="flex flex-wrap w-full">
                <input class="w-full md:w-auto bg-color-004A5D hover:bg-color-003644 active:bg-color-00222A font-copy text-base text-white text-center mb-3 sm:mb-0 py-2 px-8 hover:cursor-pointer" type="submit" value="Continue to payment form">
            </div>
        </form>
        <h6 class="w-full font-copy text-12px text-color-02A89B uppercase tracking-onehalf pt-6">Use of this form is subject to the <a href="/privacy_policy/" target="_blank"><u>Privacy Policy</u></a>, <a href="/terms/" target="_blank"><u>Terms of Use</u></a>, and <a href="/terms-and-conditions/" target="_blank"><u>Terms and Conditions.</u></a></h6>
    </div>
</div>

{{ end }}