{{ define "main" }}

<style>
.fa-check-square {
    color: limegreen;
}
</style>

<div class="flex flex-wrap w-full py-32 bg-color-F0F0F0">
    <div class="w-auto max-w-5xl bg-white border border-color-e6e6e6 mx-auto p-6 hover:cursor-pointer rounded">
        <div class="w-full">
            <h3 class="font-copy text-xl leading-tight pb-3 md:pb-0">{{ .Params.top_section.title }}<i class="pl-1 fas fa-check-square"></i></h3>
            <h5 class="font-copy text-base pb-6">{{ .Params.top_section.text }}</h5>
        </div>
        <div class="flex flex-wrap pt-5">
            <div class="w-full mx-auto">
                <div class="w-full pb-12 lg:pb-0">
                    <h2 class="font-copy text-lg">Invoice #:</h2>
                    <div id="invo-num" class="text-lg pb-8"></div>
                    <h2 class="font-copy text-lg">Invoice amount paid:</h2>
                    <span class="text-lg">$</span><span id="invo-amo" class="text-lg"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let queryString = window.location.search;
    let urlParams = new URLSearchParams(queryString);
    let invoNum = urlParams.get('invoNum');
    let invoAmo = urlParams.get('invoAmo');
    let invoAmoDoll = invoAmo.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    document.querySelector("#invo-num").innerText = invoNum;
    document.querySelector("#invo-amo").innerText = invoAmoDoll;
</script>

{{ end }}