{{ define "main" }}

<style>
.careers-top-photo {
    background-image: url("https://res.cloudinary.com/pioneer-design/image/upload/v1575165228/Georgia%20Technologies/Testimonial_Photo_esck7c.png")
}
</style>

<div class="flex flex-wrap pt-32 mx-auto max-w-8xl">
    <div class="flex flex-wrap w-5/6 md:w-4/5 mx-auto">
        <div class="w-2/3 mr-auto">
            <h5 class="font-copy text-12px text-color-02A89B uppercase">{{ .Site.Data.careers_at_GT.subtitle }}</h5>
            <h3 class="font-copy text-xl md:text-3xl leading-tight pb-6">{{ .Site.Data.careers_at_GT.title }}</h3>
            <a href="{{ .Site.Data.careers_at_GT.button.button_link }}" class="w-full sm:w-auto bg-color-02DACA hover:bg-color-02C1B2 font-copy text-base text-color-003644 text-center py-2 px-8">
                {{ .Site.Data.careers_at_GT.button.button_text }}
            </a>
        </div>
    </div>
</div>

<div class="flex flex-wrap pt-32 mx-auto max-w-8xl">
    <div class="flex flex-wrap flex-col-reverse sm:flex-row items-start w-5/6 md:w-4/5 xl:w-3/4 mx-auto">
        <div class="w-full sm:w-1/2 sm:pr-6 md:pr-12 page-content">
            <div class="font-copy text-base -mb-6 whitespace-pre-line">
                {{ .Content }}
            </div>
            <a href="/" class="flex items-center w-full font-copy text-base text-color-02A89B text-center mb-3 pb-12">
                <span>Learn More About Georgia Technologies</span>
                <span class="text-lg text-black pl-5"><i class="fas fa-angle-right"></i></span>
            </a>
        </div>
        <div class="w-full sm:w-1/2 bg-cover bg-no-repeat bg-center mb-12 md:mb-0 careers-top-photo">
            <div class="py-24 md:py-40"></div>
        </div>
    </div>
</div>

<div class="flex flex-wrap pt-24 mx-auto max-w-8xl">
    <div class="flex flex-wrap w-3/4 mx-auto">
        <h5 class="w-full font-copy text-12px text-color-02A89B uppercase">careers at georgia technologies</h5>
        <h3 class="w-full font-copy text-xl md:text-3xl leading-tight pb-6">Benefits</h3>
        <div class="flex w-full sm:w-1/2 pb-12 pr-8">
            <div class="w-auto pr-2">
                <img class="w-8" src="https://res.cloudinary.com/pioneer-design/image/upload/v1575573498/Georgia%20Technologies/network_check_qisjz2.svg">
            </div>
            <div class="w-11/12">
                <h4 class="font-copy text-lg">Health, Vision, and Dental Insurance</h4>
                <p class="font-copy text-base opacity-75">From very simple to complex, small businesses to enterprise level companies, Georgia Technologies provides complete IT Management services with trouble-free computer</p>
            </div>
        </div>
        <div class="flex w-full sm:w-1/2 pb-12 pr-8">
            <div class="w-auto pr-2">
                <img class="w-8" src="https://res.cloudinary.com/pioneer-design/image/upload/v1575573498/Georgia%20Technologies/network_check_qisjz2.svg">
            </div>
            <div class="w-11/12">
                <h4 class="font-copy text-lg">Health, Vision, and Dental Insurance</h4>
                <p class="font-copy text-base opacity-75">From very simple to complex, small businesses to enterprise level companies, Georgia Technologies provides complete IT Management services with trouble-free computer</p>
            </div>
        </div>
        <div class="flex w-full sm:w-1/2 pb-12 pr-8">
            <div class="w-auto pr-2">
                <img class="w-8" src="https://res.cloudinary.com/pioneer-design/image/upload/v1575573498/Georgia%20Technologies/network_check_qisjz2.svg">
            </div>
            <div class="w-11/12">
                <h4 class="font-copy text-lg">Health, Vision, and Dental Insurance</h4>
                <p class="font-copy text-base opacity-75">From very simple to complex, small businesses to enterprise level companies, Georgia Technologies provides complete IT Management services with trouble-free computer</p>
            </div>
        </div>
        <div class="flex w-full sm:w-1/2 pb-12 pr-8">
            <div class="w-auto pr-2">
                <img class="w-8" src="https://res.cloudinary.com/pioneer-design/image/upload/v1575573498/Georgia%20Technologies/network_check_qisjz2.svg">
            </div>
            <div class="w-11/12">
                <h4 class="font-copy text-lg">Health, Vision, and Dental Insurance</h4>
                <p class="font-copy text-base opacity-75">From very simple to complex, small businesses to enterprise level companies, Georgia Technologies provides complete IT Management services with trouble-free computer</p>
            </div>
        </div>
    </div>
</div>

<div class="flex flex-wrap pt-24 pb-40 mx-auto max-w-8xl">
    <div class="flex flex-wrap w-3/4 mx-auto">
        <h5 class="w-full font-copy text-12px text-color-02A89B uppercase">careers at georgia technologies</h5>
        <h3 class="w-full font-copy text-xl md:text-3xl leading-tight pb-6">Current Openings</h3>
    </div>
    <div class="flex flex-wrap items-stretch w-5/6 md:w-3/4 mx-auto">
        {{ range (where .Site.Pages "Type" "careers" ) }}
        <div class="flex flex-wrap w-full xl:w-1/2 text-left">
            <div class="flex flex-wrap w-full md:w-11/12 bg-white border border-color-e6e6e6 hover:border-color-02DACA mb-6 p-4 rounded service-box-{{ .File.UniqueID }}">
                <div class="w-2/12 mx-auto">
                    <img class="pt-1half mx-auto not-rotated-service-icon service-box-icon-{{ .File.UniqueID }}" src="https://res.cloudinary.com/pioneer-design/image/upload/v1575055112/Georgia%20Technologies/Shape_Copy_3_gwhgj8.svg">
                    <!-- <i class="text-3xl pl-1 fas fa-angle-down service-box-icon-{{ .Params.name | lower | urlize }}"></i> -->
                </div>
                <div class="w-10/12 sm:w-8/12 pb-3 pr-5">
                    <h2 class="font-copy text-lg xxl:text-xl leading-tight pb-2">{{ .Params.name }}</h2>
                    <h3 class="font-copy text-12px text-color-02A89B uppercase">{{ .Params.career_subtitle }}</h3>
                    <p class="hidden font-copy text-base font-thin leading-tight pt-3 pb-6 job-description-{{ .File.UniqueID }}">{{ .Params.career_description }}</p>
                    <a href="/careers/{{ .Params.name | lower | urlize }}/" class="hidden bg-color-02DACA hover:bg-color-02C1B2 font-copy text-base text-color-003644 py-2 px-8 service-box-button-{{ .File.UniqueID }}">
                        Learn More
                    </a>
                </div>
                <div class="w-full sm:w-2/12 h-8 mx-auto">
                    <h6 class="font-copy text-12px p-2 text-center border">{{ .Params.type_of_position }}</h6>
                </div>
            </div>
        </div>
        <script>
            var jobBox_{{ .File.UniqueID | safeJS }} = document.querySelector('.service-box-{{ .File.UniqueID }}');
            var jobboxIcon_{{ .File.UniqueID | safeJS }} = document.querySelector('.service-box-icon-{{ .File.UniqueID }}');
            var jobboxDescription_{{ .File.UniqueID | safeJS }} = document.querySelector('.job-description-{{ .File.UniqueID }}');
            var jobboxButton_{{ .File.UniqueID | safeJS }} = document.querySelector('.service-box-button-{{ .File.UniqueID }}');
            
            jobBox_{{ .File.UniqueID | safeJS }}.onclick = function() {
                jobBox_{{ .File.UniqueID | safeJS }}.classList.toggle('border-color-02DACA');
                jobboxIcon_{{ .File.UniqueID | safeJS }}.classList.toggle('rotate-service-icon');
                jobboxDescription_{{ .File.UniqueID | safeJS }}.classList.toggle('hidden');
                jobboxButton_{{ .File.UniqueID | safeJS }}.classList.toggle('hidden');
            };
        </script>
        {{ end }}
    </div>
</div>

{{ end }}