{{ define "main" }}

<style>
input {
    border-color: #CCCCCC;
}
input:hover {
    background-color: rgba(0,74,93, 0.1);
    border-color: #004A5D;
}
input:focus {
    border-color: #005E77;
}
select {
    background-color: white;
    border-color: #CCCCCC;
}
select:hover {
    background-color: rgba(0,74,93, 0.1);
    border-color: #004A5D;
}
select:focus {
    border-color: #005E77;
}
textarea {
    border-color: #CCCCCC;
}
textarea:hover {
    background-color: rgba(0,74,93, 0.1);
    border-color: #004A5D;
}
textarea:focus {
    border-color: #005E77;
}
</style>

<div class="flex flex-wrap pt-32 mx-auto max-w-8xl">
    <div class="flex flex-wrap w-5/6 md:w-4/5 mx-auto">
        <div class="w-full md:w-2/3 mr-auto">
            <h3 class="font-copy text-xl leading-tight pb-3 md:pb-0">{{ .Params.top_section.title }}</h3>
            <h5 class="font-copy text-base pb-6">{{ .Params.top_section.text }}</h5>
        </div>
    </div>
</div>

<div class="flex flex-wrap pt-12 pb-48 mx-auto max-w-8xl">
    <div class="flex flex-wrap items-start w-4/5 mx-auto">
        <div class="flex flex-wrap w-full md:w-1/2 lg:w-1/3 pb-12 lg:pb-0">
            <form class="flex flex-wrap w-full font-copy" action="/thank-you/" netlify-honeypot="field-for-coolguys" name="" method="POST" netlify>
                <input type="hidden" name="subject" value="New Submission from Website" />
                <div class="flex flex-wrap w-full">
                    <label class="w-full pb-1">Full Name*</label>
                    <input class="w-full mb-5 py-2 px-3 border-2 rounded-lg" name="full-name" type="text" placeholder="Your name" required>
                </div>
                <div class="flex flex-wrap w-full">
                    <label class="w-full pb-1">Email*</label>
                    <input class="w-full mb-5 py-2 px-3 border-2 rounded-lg" name="email" type="email" placeholder="Email" required>
                </div>
                <div class="flex flex-wrap w-full md:w-1/2">
                    <label class="w-full md:mr-5 pb-1">Subject*</label>
                    <select class="w-full mb-5 md:mr-5 py-2 px-3 border-2 rounded-lg" required>
                        <option value="none" selected disabled hidden> 
                            Select an Option 
                        </option> 
                        <option name="Information Request">Information Request</option>
                        <option name="Service Request">Service Request</option>
                        <option name="Account/Billing Questions">Account/Billing Questions</option>
                        <option name="Feedback and Comments">Feedback and Comments</option>
                    </select>
                </div>
                <div class="flex flex-wrap w-full md:w-1/2">
                    <label class="w-full md:ml-5 pb-1">Request Type*</label>
                    <select class="w-full mb-5 md:ml-5 py-2 px-3 border-2 rounded-lg" required>
                        <option value="none" selected disabled hidden> 
                            Select an Option 
                        </option> 
                        <option name="Company">Company</option>
                        <option name="Personal">Personal</option>
                    </select>
                </div>
                <input type="text" name="field-for-coolguys" style="display:none" />
                <div class="flex flex-wrap w-full">
                    <label class="w-full pb-1">Message*</label>
                    <textarea class="w-full h-32 mb-5 py-2 px-3 border-2 rounded-lg" name="message" placeholder="How can we help you?" required></textarea>
                </div>
                <div class="flex flex-wrap w-full">
                    <input class="w-full md:w-auto ml-auto bg-color-004A5D hover:bg-color-003644 active:bg-color-00222A font-copy text-base text-white text-center mb-3 sm:mb-0 py-2 px-8 hover:cursor-pointer" type="submit" value="Send">
                </div>
            </form>
        </div>
        <div class="flex flex-wrap w-full md:w-1/2 lg:w-1/3 md:px-10 pb-12 md:pb-0 font-copy">
            <div class="w-full pb-6">
                <p class="w-full">{{ .Site.Title }}</p>
                <p class="w-full">{{ .Site.Data.global_data.address.street }}</p>
                <p class="w-full">{{ .Site.Data.global_data.address.city }}, {{ .Site.Data.global_data.address.state }} {{ .Site.Data.global_data.address.zip }}</p>
            </div>
            <div class="w-full pb-6">
                <p class="w-full">Monday - Friday, {{ .Site.Data.global_data.business_hours.start_time }} - {{ .Site.Data.global_data.business_hours.end_time }} EST</p>
            </div>
            <div class="w-full pb-6">
                <p class="w-full">Phone: {{ .Site.Data.global_data.contact_numbers.phone }}</p>
                <p class="w-full">Toll-Free: {{ .Site.Data.global_data.contact_numbers.toll_free }}</p>
            </div>
            <noscript class="flex flex-wrap w-auto text-center">
                <div class="w-auto bg-color-02DACA mx-auto p-4 rounded">
                    <h6 class="font-pt text-base text-center">Please enable Javascript on your browser to see a map to our office.</h6>
                </div>
            </noscript>
        </div>
        <div class="flex flex-wrap w-full lg:w-1/3">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3367.1104327970684!2d-81.78116848452518!3d32.44297870824865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fa40acb3eb004f%3A0x87bfc6f95fdc586!2s216%20S%20Zetterower%20Ave%2C%20Statesboro%2C%20GA%2030458!5e0!3m2!1sen!2sus!4v1576524554683!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ .Site.Data.global_data.tracking.google_maps_key }}&callback=initMap"
  type="text/javascript"></script>
        </div>
    </div>
</div>

{{ end }}