{{ define "main" }}

<script src="https://js.stripe.com/v3"></script>

<style>
    /* Variables */


form {
  margin: auto;
}

.hidden {
  display: none;
}


</style>

<div class="flex flex-wrap pt-32 pb-12 mx-auto max-w-8xl">
    <div class="flex flex-wrap w-5/6 md:w-4/5 mx-auto">
        <div class="w-full md:w-2/3 mr-auto">
            <h1 class="font-copy text-xl leading-tight pb-3 md:pb-0">{{ .Params.top_section.title }}</h1>
            <h5 class="font-copy text-base pb-6">{{ .Params.top_section.text }}</h5>
        </div>
    </div>
</div>

<div id="payment-form" class="flex flex-wrap md:w-2/3 mx-auto max-w-8xl pb-56">
    <div class="flex w-full">
        <div class="w-3/4 mx-auto text-black">
          <p class="font-copy text-base pb-6">Please double check the following invoice number and amount before submitting payment.</p>
          <h2 class="font-copy text-lg pb-5">Invoice #:<span id="invo-num" class="pl-5"></span></h2>
          <h2 class="font-copy text-lg pb-5">Invoice amount:<span class="pl-5">$</span><span id="invo-amo"></span></h2>
        </div>
    </div>
    <form id="payment-form" class="w-3/4 mx-auto pb-12">
        <div id="payment-element" class="pb-6">
          <!--Stripe.js injects the Payment Element-->
        </div>
        <button id="submit">
          <div class="spinner hidden" id="spinner"></div>
          <span id="button-text" class="w-full md:w-auto ml-auto bg-color-004A5D hover:bg-color-003644 active:bg-color-00222A font-copy text-base text-white text-center mb-3 sm:mb-0 py-2 px-8 hover:cursor-pointer">Submit payment</span>
        </button>
        <div id="payment-message" class="hidden"></div>
    </form>
    <div class="w-3/4 mx-auto">
        <h6 class="w-full font-copy text-12px text-color-02A89B uppercase tracking-onehalf pt-6">Use of this form is subject to the <a href="/privacy_policy/" target="_blank"><u>Privacy Policy</u></a>, <a href="/terms/" target="_blank"><u>Terms of Use</u></a>, and <a href="/terms-and-conditions/" target="_blank"><u>Terms and Conditions.</u></a></h6>
    </div>
</div>

<div id="payment-info-error" class="hidden flex flex-wrap md:w-2/3 mx-auto max-w-8xl pb-56">
    <div class="flex w-full">
        <div class="w-3/4 mx-auto text-black">
          <h2 class="w-full font-copy text-12px text-color-02A89B uppercase tracking-onehalf pt-6"><u>The invoice amount or invoice number is invalid.</u></h2>
          <h5 class="font-copy text-base pb-6">Please try your payment again by clicking the button below.</h5>
          <p></p>
          <a href="/online_payment" class="bg-color-003644 text-base text-white rounded-lg py-2 px-4 uppercase no-underline">Try payment again</a>
        </div>
    </div>
</div>

<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const invoNum = urlParams.get('invoNum');
    const invoAmo = urlParams.get('invoAmo') * 100;
    const invoAmoRaw = urlParams.get('invoAmo');
    const invoAmoDoll = invoAmoRaw.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    document.querySelector("#invo-num").innerText = invoNum;
    document.querySelector("#invo-amo").innerText = invoAmoDoll;
</script>

<script>

const paymentForm = document.getElementById('payment-form');
const paymentInfoError = document.getElementById('payment-info-error');

if (invoAmo && invoNum) {
// This is your test publishable API key.
const stripe = Stripe("pk_test_51LcE9AEOReRjBETBEE2EzGb5dQTdgKg1Siw0ew5aS1Gw9kI6pgu3I58Xc1pEjAeNR9PwROVYksoCh4VDX9KQhE0I00aE3Hj8OU");

// The items the customer wants to buy
const items = [];

let elements;

initialize();
checkStatus();

document
  .querySelector("#payment-form")
  .addEventListener("submit", handleSubmit);

// Fetches a payment intent and captures the client secret
async function initialize() {
  const { clientSecret } = await fetch("https://inside.georgiatechnologies.com/create.php?amount=" + invoAmo + "&invoiceNum=" + invoNum, {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({ items }),
  }).then((r) => r.json());

  elements = stripe.elements({ clientSecret });

  const paymentElement = elements.create("payment");
  paymentElement.mount("#payment-element");
}

async function handleSubmit(e) {
  e.preventDefault();
  setLoading(true);

  const { error } = await stripe.confirmPayment({
    elements,
    confirmParams: {
      // Make sure to change this to your payment completion page
      return_url: "https://www.georgiatechnologies.com/online_payment/approved?invoAmo=" + invoAmoRaw + "&invoiceNum=" + invoNum,
    },
  });

  // This point will only be reached if there is an immediate error when
  // confirming the payment. Otherwise, your customer will be redirected to
  // your `return_url`. For some payment methods like iDEAL, your customer will
  // be redirected to an intermediate site first to authorize the payment, then
  // redirected to the `return_url`.
  if (error.type === "card_error" || error.type === "validation_error") {
    showMessage(error.message);
  } else {
    showMessage("An unexpected error occurred.");
  }

  setLoading(false);
}

// Fetches the payment intent status after payment submission
async function checkStatus() {
  const clientSecret = new URLSearchParams(window.location.search).get(
    "payment_intent_client_secret"
  );

  if (!clientSecret) {
    return;
  }

  const { paymentIntent } = await stripe.retrievePaymentIntent(clientSecret);

  switch (paymentIntent.status) {
    case "succeeded":
      showMessage("Payment succeeded!");
      break;
    case "processing":
      showMessage("Your payment is processing.");
      break;
    case "requires_payment_method":
      showMessage("Your payment was not successful, please try again.");
      break;
    default:
      showMessage("Something went wrong.");
      break;
  }
}

// ------- UI helpers -------

function showMessage(messageText) {
  const messageContainer = document.querySelector("#payment-message");

  messageContainer.classList.remove("hidden");
  messageContainer.textContent = messageText;

  setTimeout(function () {
    messageContainer.classList.add("hidden");
    messageText.textContent = "";
  }, 4000);
}

// Show a spinner on payment submission
function setLoading(isLoading) {
  if (isLoading) {
    // Disable the button and show a spinner
    document.querySelector("#submit").disabled = true;
    document.querySelector("#spinner").classList.remove("hidden");
    document.querySelector("#button-text").classList.add("hidden");
  } else {
    document.querySelector("#submit").disabled = false;
    document.querySelector("#spinner").classList.add("hidden");
    document.querySelector("#button-text").classList.remove("hidden");
  }
}
} else {
    paymentForm.classList.add('hidden');
    paymentInfoError.classList.remove('hidden');
}

</script>

{{ end }}