{{ define "main" }}

<style>
input {
    border-color: #CCCCCC;
}
input:hover {
    background-color: rgba(0,74,93, 0.1);
    border-color: #004A5D;
}
input:focus {
    border-color: #005E77;
}
select {
    background-color: white;
    border-color: #CCCCCC;
}
select:hover {
    background-color: rgba(0,74,93, 0.1);
    border-color: #004A5D;
}
select:focus {
    border-color: #005E77;
}
textarea {
    border-color: #CCCCCC;
}
textarea:hover {
    background-color: rgba(0,74,93, 0.1);
    border-color: #004A5D;
}
textarea:focus {
    border-color: #005E77;
}
</style>

<div class="flex flex-wrap pt-32 mx-auto max-w-8xl">
    <div class="flex flex-wrap w-5/6 md:w-4/5 mx-auto">
        <div class="w-full md:w-2/3 mr-auto">
            <h3 class="font-copy text-xl leading-tight pb-3 md:pb-0">{{ .Params.top_section.title }}</h3>
            <h5 class="font-copy text-base pb-6">{{ .Params.top_section.text }}</h5>
        </div>
    </div>
</div>

<div class="flex flex-wrap pt-12 pb-48 mx-auto max-w-8xl">
    <div class="flex flex-wrap items-start w-4/5 mx-auto">
        <div class="relative flex flex-wrap w-full md:w-1/2 lg:w-1/3 pb-12 lg:pb-0">
            <form id="pay-by-credit-form" class="flex flex-wrap w-full font-copy" action="https://www.usaepay.com/interface/epayform/">
                <input type="hidden" name="UMkey" value="Y67MuuS2zI9WQjePH3g9d37aC40y0qgZ" />
                <input type="hidden" name="UMcommand" value="sale" />
                <div class="flex flex-wrap w-full">
                    <label class="w-full pb-1">Proposal Number*</label>
                    <input id="propNum" class="w-full mb-5 py-2 px-3 border-2 rounded-lg" type="number" name="UMinvoice" min="1000" max="9999" placeholder="Enter your proposal number here" required>
                </div>
                <div class="flex flex-wrap w-full">
                    <label class="w-full pb-1">Proposal Amount*</label>
                    <input id="propAmo" class="w-full mb-5 py-2 px-3 border-2 rounded-lg" type="text" name="UMamount" placeholder="Enter your proposal amount here" required>
                </div>
                <div class="flex flex-wrap w-full">
                    <label class="w-full pb-1">Email Address*</label>
                    <input id="email-credit" class="w-full mb-5 py-2 px-3 border-2 rounded-lg" type="email" name="UMemail" placeholder="Enter your email" required>
                </div>
                <div class="w-full">
                    <label class="w-full pb-1">Tell us how you would like to pay*</label>
                    <select id="payment-method-select-credit" class="w-full mb-5 py-2 px-3 border-2 rounded-lg" name="payment-method" onchange="updateFormCheck()" required>
                        <option value="none" selected disabled hidden> 
                            Select an Option 
                        </option> 
                        <option name="Credit Card">Credit Card</option>
                        <option name="Check">Check</option>
                    </select>
                </div>
                <div class="flex flex-wrap items-center w-full pb-6">
                    <input id="agree-credit" class="w-auto rounded-lg" type="checkbox" name="read-terms-and-conditions" required>
                    <label class="w-auto pl-2">I agree to the Terms and Conditions of Sales*</label>
                </div>
                <div class="flex flex-wrap w-full">
                    <input class="w-full md:w-auto ml-auto bg-color-004A5D hover:bg-color-003644 active:bg-color-00222A font-copy text-base text-white text-center mb-3 sm:mb-0 py-2 px-8 hover:cursor-pointer" type="submit" name="submit-order" value="Submit Order">
                </div>
                <h6 class="w-full font-copy text-12px text-color-02A89B uppercase tracking-onehalf pt-6">Use of this form is subject to the <a href="/privacy_policy/" target="_blank"><u>Privacy Policy</u></a> and <a href="/terms/" target="_blank"><u>Terms of Use.</u></a></h6>
            </form>
            <form id="pay-by-check-form" class="hidden flex flex-wrap w-full font-copy" action="/thank-you/" netlify-honeypot="field-for-coolguys" name="sales-confirmation-form" method="POST" netlify>
                <div class="flex flex-wrap w-full">
                    <label class="w-full pb-1">Proposal Number*</label>
                    <input id="propNum-chk" class="w-full mb-5 py-2 px-3 border-2 rounded-lg" type="number" name="proposal-number" min="1000" max="9999" placeholder="Enter your proposal number here" required>
                </div>
                <div class="flex flex-wrap w-full">
                    <label class="w-full pb-1">Proposal Amount*</label>
                    <input id="propAmo-chk" class="w-full mb-5 py-2 px-3 border-2 rounded-lg" type="text" name="proposal-amount" placeholder="Enter your proposal amount here" required>
                </div>
                <div class="flex flex-wrap w-full">
                    <label class="w-full pb-1">Email Address*</label>
                    <input id="email-check" class="w-full mb-5 py-2 px-3 border-2 rounded-lg" type="email" name="email-address" placeholder="Enter your email" required>
                </div>
                <input type="text" name="field-for-coolguys" style="display:none" />
                <div class="w-full">
                    <label class="w-full pb-1">Tell us how you would like to pay*</label>
                    <select id="payment-method-select-check" class="w-full mb-5 py-2 px-3 border-2 rounded-lg" name="payment-method" onchange="updateFormCredit()" required>
                        <option value="none" selected disabled hidden> 
                            Select an Option 
                        </option> 
                        <option name="Credit Card">Credit Card</option>
                        <option name="Check">Check</option>
                    </select>
                </div>
                <div class="flex flex-wrap items-center w-full pb-6">
                    <input id="agree-check" class="w-auto rounded-lg" type="checkbox" name="read-terms-and-conditions" required>
                    <label class="w-auto pl-2">I agree to the Terms and Conditions of Sales*</label>
                </div>
                <div class="flex flex-wrap w-full">
                    <input class="w-full md:w-auto ml-auto bg-color-004A5D hover:bg-color-003644 active:bg-color-00222A font-copy text-base text-white text-center mb-3 sm:mb-0 py-2 px-8 hover:cursor-pointer" type="submit" name="submit-order" value="Submit Order">
                </div>
                <h6 class="w-full font-copy text-12px text-color-02A89B uppercase tracking-onehalf pt-6">Use of this form is subject to the <a href="/privacy_policy/" target="_blank"><u>Privacy Policy</u></a> and <a href="/terms/" target="_blank"><u>Terms of Use.</u></a></h6>
            </form>
        </div>
        <div class="flex flex-wrap w-full md:w-1/2 mx-auto px-8">
            <h3 class="font-copy text-xl leading-tight">Important Term and Conditions</h3>
            <p class="font-copy text-base font-thin leading-tight pt-3 pb-6">
                By submitting an order, you acknowledge and confirm ordering all items on the Proposal presented to you at the costs listed. If cost of Services is listed, it is only an estimate and the time and cost involved may be more than planned. In addition, any acknowledge that the amount due at this time is for parts and taxes only and that Services will be billed separately, and you promise to pay according to the terms of your account and/or service or lease agreements.
                <br><br>
                Further, you recognize that computer systems (including desktops laptops, servers, etc.) are special order items and the purchase of these items is non-cancelable and non-refundable. All other items returned are subject to a 20% restocking fee.
                <br><br>
                Additionally, you promise not to hold Georgia Technologies responsible for any loss of data or damage caused by repair, replacement, or upgrading of your computer or telecommunications systems. You understand that Georgia Technologies makes no promises when all items will be available for pickup or delivery, and Georgia Technologies does not make a guarantee when service will be complete.
                <br><br>
                You verify that you have legal right to make purchases on this account and understand all details of the full Terms and Conditions of Sales and Service Projects which can be reviewed and printed in its entirety by clicking here.
            </p>
        </div>
    </div>
</div>

<script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const propNum = urlParams.get('propNum');
    const propAmo = urlParams.get('propAmo');
    document.querySelector("#propNum").value = propNum;
    document.querySelector("#propAmo").value = propAmo;
    document.querySelector("#propNum-chk").value = propNum;
    document.querySelector("#propAmo-chk").value = propAmo;
</script>

<script>
    const payMethodSelectionCredit = document.querySelector("#payment-method-select-credit");
    const payMethodSelectionCheck = document.querySelector("#payment-method-select-check");
    const emailCredit = document.querySelector("#email-credit");
    const emailCheck = document.querySelector("#email-check");
    const agreeCredit = document.querySelector("#agree-credit");
    const agreeCheck = document.querySelector("#agree-check");
    const propNumCredit = document.querySelector("#propNum");
    const propNumCheck = document.querySelector("#propNum-chk");
    const propAmoCredit = document.querySelector("#propAmo");
    const propAmoCheck = document.querySelector("#propAmo-chk");
    const payByCheckForm = document.querySelector("#pay-by-check-form");
    const payByCreditFrom = document.querySelector("#pay-by-credit-form");
    updateFormCheck = () => {
        if (payMethodSelectionCredit.options[payMethodSelectionCredit.selectedIndex].text == "Check") {
            payByCheckForm.classList.remove("hidden");
            payByCreditFrom.classList.add("hidden");
            payMethodSelectionCheck.value = "Check"
        }
        emailCheck.value = emailCredit.value
        agreeCheck.checked = agreeCredit.checked
        propNumCheck.value = propNumCredit.value
        propAmoCheck.value = propAmoCredit.value
    }
    updateFormCredit = () => {
        if (payMethodSelectionCheck.options[payMethodSelectionCheck.selectedIndex].text == "Credit Card") {
            payByCheckForm.classList.add("hidden");
            payByCreditFrom.classList.remove("hidden");
            payMethodSelectionCredit.value = "Credit Card"
        }
        emailCredit.value = emailCheck.value
        agreeCredit.checked = agreeCheck.checked
        propNumCredit.value = propNumCheck.value
        propAmoCredit.value = propAmoCheck.value
    }
</script>

{{ end }}