{{ define "main" }}

<section id="thank-you" class="flex h-screen">
  <div class="flex w-full text-center">
  <div class="w-5/6 mx-auto text-black pt-32">
    <h1 class="w-full md:w-7/12 font-copy text-xl lg:text-3xl xl:text-4xl xxl:text-5xl pb-12 mx-auto leading-tight">Thank you - the submission has been received.</h1>
    <a href="/" class="bg-color-003644 text-base lg:text-xl text-white rounded-lg py-2 px-4 uppercase no-underline">Return to Home Page</a>
  </div>
  </div>
</section>

{{ end }}