{{ define "main" }}

<style>
  
</style>

<style>

</style>

<div class="relative flex flex-wrap items-start bg-white pt-32 pb-48 mx-auto max-w-8xl">
    <div class="flex flex-wrap items-start bg-white w-5/6 md:w-4/5 xl:w-3/4 mx-auto">
        <div class="flex flex-wrap w-full md:w-1/2 lg:w-1/3 pb-12 sm:pr-6 md:pr-12 paragraph-content">
            <a href="/industries/" class="w-full font-copy text-12px tracking-onehalf uppercase pb-5">< back to industries</a>
            <h5 class="font-copy text-12px text-color-02A89B tracking-onehalf uppercase">Industries we serve</h5>
            <h3 class="w-full font-copy text-xl leading-tight pb-6">{{ .Page.Params.page_content.title }}</h3>
            <div class="font-copy text-base -mt-4 pb-5">
                {{ .Page.Params.page_content.paragraph }}
            </div>
            <div class="font-copy text-base pb-5">
                {{ .Page.Params.page_content.specifics_title }}
            </div>
            <ul class="w-full list-disc font-copy text-base pb-8">
                {{ range .Params.page_content.specifics_list }}
                <li class="pb-4"><span>{{ . }}</span></li>
                {{ end }}
            </ul>
        </div>
        <div class="flex flex-wrap items-start w-full md:w-1/2 lg:w-2/3">
            {{ $industry := .Params.name }}
            {{ range and (where .Site.Pages "Type" "clients" ) (where .Site.Pages ".Params.client_industry" $industry ) }}
            <a {{ if .Params.site_url }}href="{{ .Params.site_url }}" target="_blank"{{ else }}{{ end }} class="flex flex-wrap w-full xl:w-1/2 text-left">
                <div class="flex flex-wrap w-full md:w-11/12 bg-white border border-color-e6e6e6 hover:border-color-02DACA mb-6 p-4 rounded">
                    <div class="w-full">
                        <h2 class="font-copy text-base leading-tight">{{ .Params.name }}</h2>
                        <h5 class="font-copy text-12px text-color-02A89B tracking-onehalf uppercase">{{ $industry }}</h5>
                    </div>
                </div>
            </a>
            {{ end }}
        </div>
    </div>
</div>

{{ end }}