<style>
  .cta-footer {
    background-image: url("https://res.cloudinary.com/pioneer-design/image/upload/e_colorize:70,co_rgb:02DACA/v1575320354/Georgia%20Technologies/cta-services_mfkzhd.jpg");
  }
</style>

<footer class="flex flex-wrap items-start bg-color-003644 pb-3">
  <div class="w-full bg-cover bg-center md:bg-right bg-no-repeat text-center cta-footer">
    <div class="w-11/12 lg:w-full max-w-8xl mx-auto pt-20 pb-24 leading-tight">
    <h5 class="font-copy text-xl lg:text-2xl text-color-00222A pb-8">All of your company’s managed IT solutions, in one place.</h5>
    <a href="tel:{{ .Site.Data.global_data.contact_numbers.phone }}" class="w-full sm:w-auto bg-color-004A5D hover:bg-color-003644 active:bg-color-00222A font-copy text-base text-white text-center mb-3 sm:mb-0 sm:mr-5 py-2 px-8">
        Call Us Today
    </a>
    </div>
  </div>
  <div class="flex flex-wrap items-start max-w-8xl mx-auto pt-12 px-12 lg:px-24">
    <a class="w-full md:w-1/4 pb-12 lg:pb-0" href="/">
      <img class="w-48" src="{{ .Site.Data.global_data.logos.footer_logo }}">
    </a>
    {{ $currentNode := . }}
      {{ range .Site.Menus.footer }}
        {{ if .HasChildren }}
          <div class="flex flex-wrap w-full md:w-1/4 pb-12 lg:pb-0 sm:px-5 font-copy text-white">
            <h6 class="w-full font-copy sm:text-12px text-color-02A89B uppercase tracking-onehalf pb-2">{{ .Name }}</h6>
            <ul class="" role="menu">
              {{ range .Children }}
                <li class="pb-1"><a href="{{.URL}}" class="w-full font-copy text-base" >{{ .Name }}</a></li>
              {{ end }}
            </ul>
          </div>
        {{ else }}
      {{ end }}
    {{ end }}
    <div class="flex flex-wrap items-center w-full pt-16">
        <div class="w-full lg:w-1/3 text-center pb-8 lg:pb-0 opacity-50">
          <p class="font-copy text-12px text-white">Copyright &copy; {{ dateFormat "2006" now }} {{ .Site.Title }} | All Rights Reserved. <br /><a href="/legal/msa/"><u>Master Services Agreement</u></a></p>
        </div>
        <div class="flex flex-wrap w-full lg:w-1/3 mx-auto text-center pb-8 lg:pb-0">
          <div class="flex flex-wrap w-full text-center h-24">
              <script>
                  function hover(element) {
              element.setAttribute('src', 'https://res.cloudinary.com/pioneer-design/image/upload/v1575321344/Georgia%20Technologies/MadebyPioneer.Red_wtpcxg.svg');
              }
              
              function unhover(element) {
              element.setAttribute('src', 'https://res.cloudinary.com/pioneer-design/image/upload/v1575321598/Georgia%20Technologies/Dark_kvyiav.svg');
              }
              </script>
              <a class="flex flex-wrap w-full" target="_blank" href="http://madebypioneer.com">
              <img class="flex flex-wrap mx-auto" src="https://res.cloudinary.com/pioneer-design/image/upload/v1575321598/Georgia%20Technologies/Dark_kvyiav.svg" width="60px" height="30px" onmouseover="hover(this);" onmouseout="unhover(this);">
              </a>
          </div>
        </div>
        <div class="w-full lg:w-1/3 text-center pb-8 lg:pb-0 opacity-50">
          <p class="font-copy text-12px text-white">Follow us on <a href="{{ .Site.Data.global_data.social.facebook }}"><i class="text-base px-1 fab fa-facebook-square"></i>Facebook</a> and <a href="{{ .Site.Data.global_data.social.linkedin }}"><i class="text-base px-1 fab fa-linkedin"></i>LinkedIn</a></p>
        </div>
      </div>
    </div>
</footer>

{{ if eq .Site.Params.extra_tools.elevatorJS true }}

<div id="go-to-top-button">
  <div class="elevator-button hidegotoTop">
      <i class="fas fa-arrow-circle-up"></i>
  </div>
</div>

{{ else }}{{ end }}