<style>
  .cta-footer {
    background-image: url("https://res.cloudinary.com/pioneer-design/image/upload/e_colorize:70,co_rgb:02DACA/v1575320354/Georgia%20Technologies/cta-services_mfkzhd.jpg");
  }
</style>

<footer class="flex flex-wrap items-start bg-color-003644 pb-3">
  <div class="w-full bg-cover bg-left bg-no-repeat text-center cta-footer">
    <div class="w-11/12 lg:w-full max-w-8xl mx-auto pt-20 pb-24 leading-tight">
    <h5 class="font-copy text-xl lg:text-2xl text-color-00222A pb-8">All of your company’s managed IT solutions, in one place.</h5>
    <a href="/" class="w-full sm:w-auto bg-color-004A5D hover:bg-color-003644 active:bg-color-00222A font-copy text-base text-white text-center mb-3 sm:mb-0 sm:mr-5 py-2 px-8">
        Call Us Today
    </a>
    </div>
  </div>
  <div class="flex flex-wrap items-start max-w-8xl mx-auto pt-12 px-12 lg:px-24">
    <div class="w-full md:w-1/4 pb-12 lg:pb-0">
      <img class="w-48" src="{{ .Site.Params.logos.footer_logo }}">
    </div>
    <div class="flex flex-wrap w-full md:w-1/4 pb-12 lg:pb-0 sm:px-5 font-copy text-white">
      <h6 class="font-copy sm:text-12px text-color-02A89B uppercase tracking-onehalf pb-2">Site Navigation</h6>
      <a href="/" class="w-full font-calibre text-base pb-1">
        Home
      </a>
      <a href="/our-company/" class="w-full font-copy text-base pb-1">
        Managed IT Services
      </a>
      <a href="/our-history/" class="w-full text-base pb-1">
        Industries
      </a>
      <a href="/our-team/" class="w-full text-base pb-1">
        About
      </a>
      <a href="/companies-we-represent/" class="w-full text-base pb-1">
        Contact
      </a>
      <a href="/insurance-faqs/" class="w-full text-base pb-1">
        Bill Pay
      </a>
      <a href="/contact-us/" class="w-full text-base pb-1">
        Client Login
      </a>
      <a href="/quote/" class="w-full text-base pb-1">
        Remote Support
      </a>
    </div>
    <div class="flex flex-wrap w-full md:w-1/4 pb-12 lg:pb-0 sm:px-5 font-copy text-white">
      <h6 class="font-copy sm:text-12px text-color-02A89B uppercase tracking-onehalf pb-2">Managed IT services</h6>
      <a href="/products/business/risk-management/" class="w-full text-base pb-1">
        IT Management
      </a>
      <a href="/products/business/business-property/" class="w-full text-base pb-1">
        IT Consulting
      </a>
      <a href="/products/business/business-liability/" class="w-full text-base pb-1">
        Data Backup
      </a>
      <a href="/products/business/business-umbrella/" class="w-full text-base pb-1">
        Disaster Recovery
      </a>
      <a href="/products/business/commercial-auto/" class="w-full text-base pb-1">
        Phone Systems
      </a>
      <a href="/products/business/workers-comp/" class="w-full text-base pb-1">
        Cloud Services
      </a>
      <a href="/products/business/inland-marine/" class="w-full text-base pb-1">
        Surveillance Systems
      </a>
      <a href="/products/business/builders-risk/" class="w-full text-base pb-1">
        Access Control
      </a>
    </div>
    <div class="flex flex-wrap w-full md:w-1/4 pb-12 lg:pb-0 sm:px-5 font-copy text-white">
      <h6 class="font-copy sm:text-12px text-color-02A89B uppercase tracking-onehalf pb-2">Industries we serve</h6>
      <a href="/products/life-insurance/life-insurance/" class="w-full text-base pb-1">
        Healthcare and Medical
      </a>
      <a href="/products/life-insurance/group-benefits/" class="w-full text-base pb-1">
        Professional Services
      </a>
      <a href="/products/life-insurance/group-benefits/" class="w-full text-base pb-1">
        Manufacturing
      </a>
      <a href="/products/life-insurance/group-benefits/" class="w-full text-base pb-1">
        Construction
      </a>
      <a href="/products/life-insurance/group-benefits/" class="w-full text-base pb-1">
        Government
      </a>
      <a href="/products/life-insurance/group-benefits/" class="w-full text-base pb-1">
        Education
      </a>
      <a href="/products/life-insurance/group-benefits/" class="w-full text-base pb-1">
        Non-profits
      </a>
    </div>
    <div class="flex flex-wrap items-center w-full pt-16">
        <div class="w-full lg:w-1/3 text-center pb-8 lg:pb-0 opacity-50">
          <p class="font-copy text-xs text-white">Copyright &copy; {{ dateFormat "2006" now }} {{ .Site.Title }} | All Rights Reserved.</p>
        </div>
        <div class="flex flex-wrap w-full lg:w-1/3 mx-auto text-center pb-8 lg:pb-0">
          <div class="flex flex-wrap w-full text-center h-24">
              <script>
                  function hover(element) {
              element.setAttribute('src', 'https://res.cloudinary.com/pioneer-design/image/upload/v1575321344/Georgia%20Technologies/MadebyPioneer.Red_wtpcxg.svg');
              }
              
              function unhover(element) {
              element.setAttribute('src', 'https://res.cloudinary.com/pioneer-design/image/upload/v1575321598/Georgia%20Technologies/Dark_kvyiav.svg');
              }
              </script>
              <a class="flex flex-wrap w-full" target="_blank" href="http://madebypioneer.com">
              <img class="flex flex-wrap mx-auto" src="https://res.cloudinary.com/pioneer-design/image/upload/v1575321598/Georgia%20Technologies/Dark_kvyiav.svg" width="60px" height="30px" onmouseover="hover(this);" onmouseout="unhover(this);">
              </a>
          </div>
        </div>
        <div class="w-full lg:w-1/3 text-center pb-8 lg:pb-0 opacity-50">
          <p class="font-copy text-xs text-white">Follow us on <a href="https://www.facebook.com/LeeHillandJohnstonInsurors/"><i class="text-base px-1 fab fa-facebook-square"></i> <span class="pr-1">Facebook</span></a> and <a href="https://www.instagram.com/leehilljohnstoninsurors/"><i class="text-base pl-2 pr-1 fab fa-instagram"></i> Instagram</a></p>
        </div>
      </div>
    </div>
</footer>

{{ if eq .Site.Params.extra_tools.elevatorJS true }}

<div id="go-to-top-button">
  <div class="elevator-button hidegotoTop">
      <i class="fas fa-arrow-circle-up"></i>
  </div>
</div>

{{ else }}{{ end }}