<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

{{ if eq .Title "Home" }}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.css"/><script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script type="text/javascript">
$('.testimonial-slider').slick({arrows:false, dots: true,infinite:true, speed:1000, slidesToShow:1, slidesToScroll:1, lazyLoad: 'ondemand', fade: true, appendDots: '#slider-dots', customPaging: function(slider, i) { return '<div class="bg-color-004A5D hover:bg-color-02DACA w-2 h-2 m-1 hover:cursor-pointer slider-dot"></div>';
},autoplay: true, autoplaySpeed: 4000,});
</script>

<script> 
  $(".slider-thumbs a").click(function(e){
      e.preventDefault();
      slideIndex = $(this).index();
      $( '.testimonial-slider' ).slick('slickGoTo', parseInt(slideIndex));
  });
</script>
{{ else }}{{ end }}

{{ if eq .Site.Params.extra_tools.floating_header true }}
<script>
let scrollpos = window.scrollY
  const header = document.querySelector(".header-container")
  const headerHeightFix = document.querySelector("#headerFloatingHeightFix")
  const headerHeight = header.offsetHeight
  const addHeaderFloat = () => header.classList.add("fixed", "z-50", "top-0", "w-full", "bg-white")
  const addHeaderHeightFix = () => headerHeightFix.classList.add("h-24")
  const removeHeaderFloat = () => header.classList.remove("fixed")
  const removeHeaderHeightFix = () => headerHeightFix.classList.remove("h-24")
  window.addEventListener('scroll', function() { 
    scrollpos = window.scrollY;
    if (scrollpos >= headerHeight + 200) { addHeaderFloat(), addHeaderHeightFix() }
    else { removeHeaderFloat(), removeHeaderHeightFix() }
})
</script>
{{ else }}
{{ end }}

{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
  <script defer src="{{ absURL (printf "%s%s" "/dist/" .) }}"></script>
{{ end }}